@import '../../common_projects_utilities/css/reset',
		'../../common_projects_utilities/css/font-awesome';


/* VARS */
/* Fonts */
$roboto: 'Roboto', sans-serif;

/* Color */
$body-color: #fff;
$bg-color: #171717;
$secondary-color: #5b5b5b;
$theme-color: #ff5f5f;


/* GENERAL */
body {
	font-family: $roboto;
	font-weight: 400;
	color: $body-color;
	background: $bg-color;
}
p {margin-bottom: 32px;}
a {text-decoration: none;}
strong {font-weight: 700;}


/* HELPERS */
.relative {position: relative;}
.block {display: block;}
.no-margin {margin: 0;}
.text-center {text-align: center;}
.text-uppercase {text-transform: uppercase;}
.color {color: $theme-color;}


/* LAYOUT */
.container {
	width: 100%;
	max-width: 1052px;
	margin: 0 auto;
}


/* HEADER */
.header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&__container {
		width: 730px;
		//margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
	&__title {
		width: 305px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__arrow {
		position: absolute;
		bottom: 0;
		right: 18px;
		animation: scrollDown 1.2s infinite linear;
	}
	&__intro {
		width: 345px;
		font-size: 18px;
		line-height: 1.44;
	}
	&__link {
		color: $body-color;
		font-weight: 700;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: #fff;
			transition: width .6s;
		}
		&:hover {
			&::before {width: 0;}
		}
	}
}
@keyframes scrollDown {
    0%, 100% {
      opacity: 1;
      transform: translateY(0);
    }
    45% {
      opacity: .65;
      transform: translateY(-15px);
    }
}
.title {margin-bottom: 48px;}
.authors {
	font-size: 15px;
	padding-bottom: 16px;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 27px;
		height: 1px;
		background: #fffefe;
	}
}

/* Topbar */
.topbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 24px 0;
}


/* SOCIALS NETWORK */
.share {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    background: $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s, visibility .6s;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &__icon {
    	margin: 5px 0;
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        border-radius: 50%;
        background: $body-color;
        color: $bg-color;
        transition: color .4s;
        &:hover {color: $theme-color;}
    }
}

.top-logo {
	border-bottom: 1px solid #fff;
	margin: 0 0 10px;
	padding: 0 0 10px;
    img {display: block;}
}


/* CONTENT */
/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($bg-color,.8);
	z-index: 25;
	opacity: 0;
	visibility: hidden;
	transition: opacity .6s, visibility .6s;
	&--visible {
		opacity: 1;
		visibility: visible;
	}
}
/* Menu */
.menu {
	position: sticky;
	top: 0;
	border-top: 1px solid $body-color;
	border-bottom: 1px solid $body-color;
	background: $bg-color;
	z-index: 50;
	&::after {
		content: '';
		position: absolute;
		top: 41px;
		left: 0;
		width: 100%;
		height: 80px;
		background-image: linear-gradient(to bottom, #171717, rgba(23, 23, 23, 0));
	}
	&--toggled {
		&::after {content: none;}
		.menu__content {transform: translateX(0);}
	}
	&__container {
		display: flex;
		align-items: center;
	}
	&__icon {
		padding: 10px 24px;
		border-left: 1px solid #fffefe;
		border-right: 1px solid #fffefe;
		height: 20px;
		display: flex;
		align-items: center;
	}
	&__title {
		margin-left: 32px;
		font-weight: 700;
		font-size: 15px;
	}
	&__content {
		position: absolute;
		top: 41px;
		left: 0;
		width: 54%;
		height: calc(100vh - 41px);
		overflow: hidden;
		border-right: 1px solid rgba(254,254,254,.5);
		background: rgba($bg-color,.98);
		display: flex;
		flex-direction: column;
		transform: translateX(-100%);
		transition: transform .8s;
	}
	&__item {
		height: 16.66%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-bottom: 1px solid rgba(#fefefe,.5);
		&:last-child {margin-bottom: 0}
	}
	&__link {
		color: $body-color;
		&--external {
			font-weight: 700;
			font-size: 15px;
			color: $theme-color;
			display: flex;
			align-items: center;
			span {margin-right: 16px}
		}
		&:not(.menu__link--external) {
			&:hover {
				.menu__number {
					color: $theme-color;
					padding-left: 16px;
					&::before {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	&__number {
		font-size: 15px;
		line-height: 1.47;
		color: rgba($body-color,.4);
		margin-bottom: 8px;
		transition: color .5s, padding-left .5s;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $theme-color;
			opacity: 0;
			visibility: hidden;
			transition: opacity .5s, visibility .5s;
		}
	}
	&__name {
		font-weight: 700;
		font-size: 15px;
		line-height: 1.67;
	}
}

/* Sections */
.section {
	&__title {
		margin-top: 16px;
		font-weight: 400;
		font-size: 15px;
		line-height: 1.47;
		color: rgba($body-color,.5);
	}
}

/* Rows */
.row {
	display: flex;
	border-bottom: 1px dotted rgba(#fefefe,.5);
	&--individual {padding: 124px 0 123px;}
	&--multiple {justify-content: space-between;}
	&--top {padding: 124px 0 79px;}
	&--middle {padding: 80px 0 79px;}
	&--bottom {padding: 80px 0 123px;}
}

/* Testimonials */
.testimonial {
	width: 100%;
	max-width: 308px;
	&--featured {
		max-width: 972px;
		opacity: 0;
		visibility: hidden;
		transform: translateX(-40px);
	}
	&--visible {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		transition: opacity .6s, visibility .6s, transform .6s;
	}
	&__text {
		font-weight: 500;
		font-size: 24px;
		margin-bottom: 24px;
		&--featured {
			font-weight: 700;
			font-size: 40px;
		}
	}
	&__author {
		max-width: 597px;
		font-size: 18px;
		color: $secondary-color;
		&--featured {line-height: 1.39;}
	}
}
.letter {opacity: 0;}


/* FOOTER */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 64px 0;
}
.legalFooter {box-sizing:border-box; }


@media screen and (min-width: 1920px) {
	.header {
		&__container {width: 815px;}
		&__title {width: 345px;}
		&__intro {
			width: 390px;
			line-height: 1.63;
		}
	}
	.title {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 1200px) {
	.container {max-width: 900px;}
	.testimonial {
		max-width: 280px;
		&--featured {max-width: 900px;}
	}
}

@media screen and (max-width: 993px) {
	.container {
		width: 100%;
		box-sizing: border-box;
		padding: 0 56px;
	}
	.row {
		flex-direction: column;
		padding: 0;
		border-bottom: 0;
	}
	.menu {
		&__content {width: 90%;}
		&__item {padding-left: 56px;}
	}
	.testimonial {
		max-width: none;
		padding: 80px 0 79px;
		border-bottom: 1px solid rgba(#fefefe,.5);
		&--empty {display: none;}
	}
}

@media screen and (min-width: 768px) and (max-height: 650px) {
	.header {
		&__intro {font-size: 15px;}
	}
}

@media screen and (max-width: 767px) {
	.container {padding: 0 16px;}
	.header {
		height: auto;
		&__container {
			width: 100%;
			box-sizing: border-box;
			padding: 0 16px;
			margin: 0 auto;
			flex-direction: column;
		}
		&__title {
			height: 100vh;
			width: 100%;
			box-sizing: border-box;
			padding: 0 16px;
		}
		&__arrow {
			bottom: 60px;
			right: 50%;
			transform: translate(50%,0);
		}
		&__intro {
			width: 100%;
			line-height: 1.61;
		}
	}
	@keyframes scrollDown {
	    0%, 100% {
	      opacity: 1;
	      transform: translate(50%,0);
	    }
	    45% {
	      opacity: .65;
	      transform: translate(50%,-15px);
	    }
	}
	.share {
	    top: auto;
	    right: auto;
	    bottom: 0;
	    transform: none;
	    flex-direction: row;
	    width: 100%;
	    padding: 10px;
	    &__icon {margin: 0 10px;}
	}
	.top-logo {
	    border-bottom: transparent;
	    border-right: 1px solid #fff;
	    margin: 0 10px 0 0;
	    padding: 0 10px 0 0;
	}
	.content {margin-top: 80px;}
	.menu {
		&::after {top: 69px;}
		&__container {padding: 0 16px 0 0;}
		&__icon {
			padding: 24px 16px;
			border-left: 0;
		}
		&__title {margin-left: 16px;}
		&__content {
			top: 70px;
			width: 100%;
			box-sizing: border-box;
			height: calc(100vh - 124px);
			padding: 0 16px;
		}
		&__item {
			padding-left: 0;
			&:last-child {align-self: flex-end;}
		}
	}
	.section {
		&__title {
			margin-top: 8px;
			font-size: 12px;
			line-height: 1.83;
		}
	}
	.testimonial {
		padding: 52px 0 51px;
		&--featured {transform: translateX(0);}
		&--visible {transition: opacity .6s, visibility .6s;}
		&--right-mobile {text-align: right}
		&__text {
			font-weight: 400;
			font-size: 20px;
			line-height: 1.45;
			&--featured {
				font-weight: 700;
				font-size: 32px;
				line-height: 1.31;
			}
		}
		&__author {
			max-width: none;
			font-weight: 500;
			font-size: 15px;
			line-height: 1.33;
			&--featured {
				font-weight: 700;
				font-size: 18px;
				line-height: 1.39;
			}
		}
	}
}

@media screen and (max-width: 767px) and (min-height: 800px) {
	.header {
		&__arrow {bottom: 100px;}
	}
}